body{
  background-color: #ECE7E7;
}
/*navbar section*/
.navbar{
  font-weight: bold;
  font-size: 15pt;
  padding: 10px 100px;
}
#vl{
  border-left: 1px solid white;
  height: 40px;
  margin: 5px 10px 0px 10px;
}
.navbar .nav-item:not(.three_dot){
  width: 100px;
  transition: background-color 2s;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  margin: 0px 5px;
  font-family: "Black Han Sans";
}
.navbar .nav-item.three_dot{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 5px;
}
.navbar .nav-item:hover:not(.three_dot){
  background-color: rgb(53, 97, 143);
  color: rgb(31, 26, 26);
  border: 0px;
  border-radius: 5px;
}
.navbar .navbar-brand #logo{
  width: 70px;
  height: 70px;
}
.navbar .nav-item.home{
  margin-left: 700px;
}
.bg-primary{
  background-color: #298E9E !important;
}
.navbar-dark .navbar-nav .nav-link{
  overflow: hidden;
}
@media only screen and (max-width: 1200px){
  .navbar{
      padding: 10px 40px;
  }
  .navbar .nav-item.home{
      margin-left: 5px;
  }
  #vl{
      display: none;
  }
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

#timer{
  position: fixed;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  background-color:#298e9e; 
  padding-right: 100px;
  font-size: 25pt;
  z-index: 1030;
  margin-top: -20px;
}

/*slider section*/
.slider{
  height: 600px;
  margin-top: 100px;
}
.slider img{
  height: 600px;
}


/* 3 dots styling */
.dropdown-toggle::after{
  border: 0px;
  padding-left: 3px;
  content: "\2807";
  font-size: 23px;
  color: white;
}
.dropdown-menu{
  top: 43px;
  left: -88px;
  width: 130px;
  min-width: 0px;
}


#demo {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    border-style: solid;
    color:rgb(21, 45, 63);
  }

  .ques{
      font-size: 20px;
      font-weight: bold;
      color: rgb(79, 134, 177);
  }
  .opti{
    color: rgb(65, 109, 143);
  }
  .btn-primary {
    margin-left: 50%;
    width: 200px;
    font-size: 25px;
    margin: auto;
  }

  .sspp{
    border: 1px solid rgb(87, 87, 87);
    padding: 7px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    min-width: 240px;
    color: white;
    background-color: rgb(87, 87, 87);
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 10px;
    
  }
  .radio{
    margin-bottom: 30px;
  }
  #ten{
    width: 42px;
  }

  .footer{
    color: #298E9E;
}
.footer hr{
    width: 100%;
    height: 1px;
    background-color: #298E9E;
}
.footer i:not(.far){
    font-size: 25pt;
    margin: 0px 12px;
    /* color: white */
}
.far{
    margin: 6px 0px;
}

.copy_rights{
    min-height: 50px;
    /* color: white; */
}
.copy_rights span{
    margin: 0px 10px;
}
#developed_by{
    height: 30px;
    border-left: 1px solid #298E9E;
}